/* Aardvark Tables */

/* Tables
----------------------------------------------- */

.searchparams {
border: 3px solid #ccc;
background-color: #f1f1f1; 
width: 100%;

}
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

table .playerresults{
font-size : 11pt;
font-family: sans-serif;
margin: 0px 5px;
padding: 0px 5px;
border: none;
}

.infoselector{
  table-layout: fixed;
  width: 100%;
}

.infoselector td{
  text-align: center;
  cursor: pointer;
}

.roweven:hover, .rowodd:hover {
  background-color: #77AADD;
  color: #FFFFFF;
}
.roweven{
vertical-align: middle;
/* background-color: #AADDFF; */
background-color: #CCFFFF;
margin: 0px 5px;
padding: 0px 5px;
border: none;
  transition: 0.3s;
}
.padded tr{
margin: 0px 5px;
padding: 0px 5px;
border: 0px 0px 0px 0px;
}

.rowodd {
vertical-align: middle;
/* background-color: #99BBEE; */
background-color: #BBDDFF;
margin: 0px 5px;
padding: 0px 5px;
border: none;
  transition: 0.3s;
}

#override td, #override th{
  vertical-align: middle;
  border: none;
}

.white tr, .white td
{
background: #EEEEEE;
font-weight: bold;
border: solid 1px;
margin: 0px 5px;
padding: 0px 5px;
border: 0 0 0 0;

}

.win tr, .win td{
  font-family: sans-serif;
background: #B0FFB0;
padding: 4px;
            }
            
             .win td, {
  font-family: sans-serif;
background: #B0FFB0;
padding: 4px;
            }


.bye tr, .bye td{
  font-family: sans-serif;
background: #FFFF88;
padding: 4px;

}

.scheduled tr, .scheduled td{
background: #BBBBBB;
padding: 4px;

}

.loss tr,  .loss td{
  font-family: sans-serif;
background: #FFB0B0;
padding: 4px;

}
.draw tr, .draw td{
  font-family: sans-serif;
background: #C0C0FF;
padding: 4px;

}
.legend tr, .legend td{
font-size: .8em;
padding: 4px;

}




