/* Aardvark Tables */

font-family: sans-serif;


/* Tables
----------------------------------------------- */
table{
  margin: 5px;
  padding: 0px 5px;
  border: 0px 0px 0px 0px;

}

h4 {
background: back.gif repeat;}

table .playerresults{
font-size : 11pt;
font-family: sans-serif;
margin: 0px 5px;
padding: 0px 5px;
border: 0px 0px 0px 0px;
}

.roweven tr, .roweven td{
vertical-align: middle;
background: #AADDFF;
margin: 0px 5px;
padding: 0px 5px;
border: 0px 0px 0px 0px;
}

tr.roweven:hover, tr.rowodd:hover {
  background: #990000;
}

.padded tr{
margin: 0px 5px;
padding: 0px 5px;
border: 0px 0px 0px 0px;
}

.rowodd tr, .rowodd td{
vertical-align: middle;
background: #99BBEE;
margin: 0px 5px;
padding: 0px 5px;
border: 0px 0px 0px 0px;


}

.white tr, .white td
{
background: #EEEEEE;
font-weight: bold;
border: solid 1px;
margin: 0px 5px;
padding: 0px 5px;
border: 0 0 0 0;

}

.win tr, .win td{
  font-family: sans-serif;
background: #B0FFB0;
padding: 4px;
            }
            
             .win td, {
  font-family: sans-serif;
background: #B0FFB0;
padding: 4px;
            }


.bye tr, .bye td{
  font-family: sans-serif;
background: #FFFF88;
padding: 4px;

}

.scheduled tr, .scheduled td{
background: #BBBBBB;
padding: 4px;

}

.loss tr,  .loss td{
  font-family: sans-serif;
background: #FFB0B0;
padding: 4px;

}
.draw tr, .draw td{
  font-family: sans-serif;
background: #C0C0FF;
padding: 4px;

}
.legend tr, .legend td{
font-size: .8em;
padding: 4px;

}


